<main id="signup">
    <form action="/auth/signup" method="POST">
        <div class="input-field">
            <label for="new-username">Username</label>
            <input id="new-username" type="text" name="username">
        </div>

        <div class="input-field">
            <label for="new-name">Name</label>
            <input id="new-name" type="text" name="name">
        </div>

        <div class="input-field">
            <label for="new-password">Password</label>
            <input id="new-password" type="password" name="password">
        </div>

        <input class="btn btn-secondary" type="submit" value="Sign up">
    </form>
</main>