<% if (alerts.error) { %>
    <% alerts.error.forEach(msg => { %>
        <%= msg %>
            <% }) %>
                <% } %>

                    <!--
                    <% if (alerts.success) { %>
                        <% alerts.success.forEach(msg => { %>
                            <div class="alert alert-success">
                                <%= msg %>
                            </div>
                            <% }) %>
                                <% } %>
                                -->