<ul id="slide-out" class="sidenav sidenav-fixed">
    <li id="userinfo">
        <h4>
            <%= currentUser.dataValues.username %>
        </h4>
    </li>
    <li class="nav"><a class="tooltipped" data-position="right" data-tooltip="Monthly Overview" href="/user">CALENDAR</a></li>
    <li class="nav"><a class="tooltipped" data-position="right" data-tooltip="Data Summary" href="/user/summary">OVERVIEW</a></li>
    <li class="nav"><a class="tooltipped" data-position="right" data-tooltip="Medical Advice" href="/user/advice">ADVICE</a></li>
</ul>