<ul id="slide-out" class="sidenav sidenav-fixed">
    <li id="userinfo">
        <h4>
            <%= currentUser.dataValues.username %>
        </h4>
    </li>
    <li><a class="tooltipped" data-position="right" data-tooltip="Montly Overview" href="/user">Calendar</a></li>
    <li><a class="tooltipped" data-position="right" data-tooltip="Data Summary" href="/user/summary">Overview</a></li>
    <li><a class="tooltipped" data-position="right" data-tooltip="Symptom Checker" href="/advice">Advice</a></li>
</ul>