<main class="userhome">
    <h2>Profile Page</h2>
    <% periods.forEach(period => { %>
        <p> period start:
            <%= period.startDate %>
        </p>
        <p> period end:
            <%= period.endDate %>
        </p>
        <% }) %>

            <% periodWeeks.forEach(week => { %>
                <p> week:
                    <%= week %>
                </p>
                <% }) %>

</main>