body {
    background-color: whitesmoke;
}

main,
footer {
    padding-left: 300px;
}

main {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 65px);
    width: 100vw;
}

main.userhome {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 350px;
    padding-right: 50px;
    overflow-y: scroll;
}

main#landing,
main#login,
main#signup {
    padding-left: 0;
}

main#login form,
main#signup form {
    width: 40vw;
}

main#login form input.btn,
main#signup form input.btn {
    float: right;
}

nav {
    background-color: rgba(154, 230, 211, 0.76);
    padding: 5px 5px 5px 20px;
}

nav li a,
nav a.brand-logo {
    color: rgb(84, 96, 109)
}

a.sidenav-trigger {
    margin: 0;
}

a.sidenav-trigger i {
    opacity: 0.7;
}

.sidenav {
    height: calc(100% - 65px);
    top: 65px;
}

#userinfo {
    padding: 15px 0px 0px 20px;
}

.modal {
    padding: 20px;
}

span.modal-close {
    float: right;
}

div.alerts {
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(154, 230, 211, 0.76);
    width: 40vw;
    border-radius: 12px;
    text-align: center;
}

div.calendar {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    margin: 0 auto;
}

div.day {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    width: 9vw;
    height: 10vh;
}

main.userhome i {
    color: black
}

div.arrows i {
    padding: 10px;
}

div.day i {
    align-self: flex-end;
}

div.day button#selectDay {
    align-self: flex-start;
    border: unset;
    background-color: transparent;
    font-size: 20px;
}

div.day button#selectDay:focus {
    outline: none;
}

div.day button#selectDay:hover,
div.day:hover button#selectDay,
div.day:hover i,
div.arrows i:hover {
    color: turquoise;
    cursor: pointer;
}

@media (max-width: 985px) {
    .sidenav {
        height: 100vh;
        top: 0;
    }
    main.userhome {
        padding-left: 50px;
    }
}

@media (max-width: 550px) {
    div.day {
        width: 100%;
    }
    div.calendar {
        grid-template-columns: repeat( 3, 1fr);
        width: calc(100vw - 100px)
    }
    nav a.brand-logo {
        visibility: hidden;
    }
}

@media (max-width: 300px) {
    div.day {
        width: 100%;
    }
    div.calendar {
        grid-template-columns: 1fr;
        width: calc(100vw - 100px)
    }
    .sidenav {
        width: 200px;
    }
}