main {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100vw;
}

nav {
    background-color: rgba(154, 230, 211, 0.76);
    padding: 5px 5px 5px 20px;
}

nav li a,
nav a.brand-logo {
    color: rgb(84, 96, 109)
}

.modal {
    padding: 20px;
}

span.modal-close {
    float: right;
}