body {
    background-color: whitesmoke;
}

main,
footer {
    padding-left: 300px;
}

main {
    background-color: whitesmoke;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 65px);
    width: 100vw;
}

main#error {
    padding-left: 350px;
}

main.userhome,
main.showDay,
main.new,
main.edit,
main.advice {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 350px;
    padding-right: 50px;
    overflow-y: scroll;
}

main#landing,
main#login,
main#signup {
    padding-left: 0;
}

main#login form,
main#signup form {
    width: 40vw;
}

main#login form input.btn,
main#signup form input.btn,
main.advice form input.btn {
    float: right;
}

nav {
    background-color: rgba(154, 230, 211, 0.76);
    padding: 5px 5px 5px 20px;
}

nav li a,
nav a.brand-logo {
    color: rgb(84, 96, 109)
}

a.sidenav-trigger {
    margin: 0;
}

a.sidenav-trigger i {
    opacity: 0.7;
}

.sidenav {
    height: calc(100% - 65px);
    top: 65px;
}

#userinfo {
    padding: 15px 0px 0px 20px;
}

.modal {
    padding: 20px;
}

span.modal-close {
    float: right;
}

div.alerts {
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(154, 230, 211, 0.76);
    width: 40vw;
    border-radius: 12px;
    text-align: center;
}

div.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

div.day {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    width: 9vw;
    height: 10vh;
}

main.userhome i,
main.showDay i,
main.showDay a {
    color: black
}

div#dayNav {
    display: flex;
    width: calc(100vw - 400px);
    flex-direction: row-reverse;
    justify-content: space-between;
}

div.arrows i,
div.arrows a {
    padding: 10px;
    color: black;
}

div.day i {
    align-self: flex-end;
}

div.day button#selectDay {
    align-self: flex-start;
    border: unset;
    background-color: transparent;
    font-size: 20px;
}

div.day button#selectDay:focus {
    outline: none;
}

div.day button#selectDay:hover,
div.day:hover button#selectDay,
div.day:hover i,
div.arrows a:hover,
div.arrows a:hover i {
    color: turquoise;
    cursor: pointer;
}

.collapsible {
    border-radius: 12px;
}

div.row,
section {
    width: 100%;
}

main.advice section#symptom-search {
    border-radius: 12px;
    margin-top: 10px;
    padding: 10px;
}

main.advice section#symptom-search:hover {
    background-color: rgb(247, 215, 215);
}

div#symptom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px 0 25px;
    height: 4.5rem;
}

div.card {
    height: 30vh;
    border-radius: 12px;
}

div#activity {
    height: 4.5rem;
}

div.card-body {
    overflow: scroll;
    width: 100%;
}

div.day-body,
section.data-search {
    position: relative;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    border: 1px rgb(172, 172, 172) solid;
    background-color: whitesmoke;
}

div.day-body span#add {
    position: absolute;
    left: 95%;
    top: 30px;
}

.card-title {
    width: 100%;
}

.card-title span {
    float: right;
}

hr {
    width: 100%;
    border: 1px solid rgb(158, 212, 199);
    margin-bottom: 10px;
}

h4.notes {
    width: 100%;
}

h4.notes span {
    float: right;
}

i#filled {
    color: rgb(158, 212, 199);
}

i#empty {
    color: lightgray;
}

a.new i,
a.tooltipped i {
    color: rgb(158, 212, 199);
}

.card p i {
    margin-right: 10px;
}

main.new ul {
    width: 100%;
}

h4.collapsible-header {
    background-color: whitesmoke;
}

@media (max-width: 985px) {
    .sidenav {
        height: 100vh;
        top: 0;
    }
    main.userhome,
    main.showDay,
    main#error,
    main.edit,
    main.new,
    main.advice {
        padding-left: 50px;
    }
    div#dayNav {
        width: calc(100vw - 100px);
    }
}

@media (max-width: 550px) {
    div.day {
        width: 100%;
    }
    div.calendar {
        grid-template-columns: repeat( 3, 1fr);
        width: calc(100vw - 100px)
    }
    nav a.brand-logo {
        visibility: hidden;
    }
}

@media (max-width: 300px) {
    div.day {
        width: 100%;
    }
    div.calendar {
        grid-template-columns: 1fr;
        width: calc(100vw - 100px)
    }
    .sidenav {
        width: 200px;
    }
}