<main class='advice'>
    <h3>Medical Advice</h3>

    <section id="drug-search">
        <h5>Active Ingredient Search</h5>
        <p>Find out what's in what you're taking</p>
        <form action="/user/advice/results" method="GET">
            <div class="input-field">
                <label for="searchdrug">Name:</label>
                <input type="text" name="drug" id="searchdrug">
            </div>
            <div class="input-field">
                <input class="btn btn-secodnary" type="submit" value="SEARCH">
            </div>
        </form>
        <% if (suggestions.length > 0) { %>
            <p>No results found</p>
            <p>Did you mean:</p>
            <ul>
                <% for( let i = 0; i < Math.min(suggestions.length,4); i++ ) { %>
                    <li class='list'>
                        <i class="fas fa-search fa-sm"></i>
                        <%= suggestions[i] %>
                    </li>
                    <% } %>
            </ul>
            <% } %>
    </section>

    <section id='symptom-search' class="tooltipped" data-position="bottom" data-tooltip="Coming Soon">
        <h5>Symptom Search</h5>
        <p>Check if your symptoms are more than just normal</p>
        <form action="/user/advice/results" method="GET">
            <div class="input-field">
                <label for="searchsymptom">Symptom:</label>
                <input disabled type="text" name="symptom" id="searchsymptom">
            </div>
            <div class="input-field">
                <input disabled class="btn btn-secodnary" type="submit" value="SEARCH">
            </div>
        </form>
    </section>


</main>