<main class='advice'>
    <h3>Summary</h3>



    <section class="data-search">
        <h5>Symptom Search</h5>
        <form action="/user/summary/symptoms" method="GET">
            <div class="input-field">
                <label for="searchbar">Type:</label>
                <input type="text" name="type" id="searchbar">
                <span class="helper-text">Search your symptoms by type</span>
            </div>
            <div class="input-field">
                <input class="btn btn-secondary" type="submit" value="SEARCH">
            </div>
        </form>
    </section>
    <section class="data-search">
        <h5>Date Search</h5>
        <form action="/user/summary/date" method="GET">
            <div class="input-field">
                <label for="date">Date:</label>
                <input type="text" name="date" class="datepicker" id="date">
                <span class="helper-text">Search your data by date (2020 Only at this time)</span>
            </div>
            <div class="input-field">
                <input class="btn btn-secondary" type="submit" value="SEARCH">
            </div>
        </form>
    </section>
</main>